{% extends 'base.html.twig'%}
{% block body %}
	<h1>
		ERROR 404 !!</h1>
	<style>
		h1 {
			position: absolute;
			width: max-content;
			top: 30%;
			left: 35%;
			font-family: Georgia, serif;
			font-size: 50px;
			letter-spacing: -1.2px;
			word-spacing: 2.4px;
			color: #FF0B0B;
			font-weight: normal;
			text-decoration: none;
			font-style: italic;
			font-variant: normal;
			text-transform: none;
		}
	</style>
{% endblock %}
